.post-title {
  font-size: 20px;
  font-weight: 800;
}

.post-content {
  white-space: pre-wrap;
  text-align: left;
  padding: 5%;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.replies {
  :first-child {
    margin-top: 10px;
  }
  :not(:last-child) {
    margin-bottom: 10px;
  }
}

.reply {
  width: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  padding-left: 20px;
  text-align: left;
}

.post-page-container {
  width: 80%;
  padding: 10px 12% 0 12%;
}
